

* {
box-sizing: border-box;
align-content: center
}

header{
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2
}

.todoInput {
  flex: 10;
  padding: 5px
}
.deleteBtn {
  background: grey;
  color: white;
  border: none;
  padding: 3.5px 7.5px;
  border-radius: 75%;
  cursor: pointer;
  float: right
}
.container {
  padding: 35px 300px;
}

.btn{
  /* display: inline-block; */
  border: none;
  background: grey;
  color: #ffffff;
  cursor: pointer;
  flex: 2;
  height: 27px
}